@import "../vendors/mixin";

.offer {
  display: grid;
  grid-template-rows: 3fr 3fr;
  height: 100%;
}

.imageOffer {
  @include mask;
  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
  }
}

.infoOffer {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
}

.leftInfo {
  align-self: center;
}

.button {
  @include fonts(0.875em, 500);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 168px;
  height: 45px;
  border-radius: 7px;
  background: #1A1A1A;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.24);
}

.rightInfo {
  position: relative;
}

.sliderInfo {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.leftTitle {
  @include fonts(2.250em, 700); //font-size: 36px; font-weight: 700;
  text-transform: uppercase;
}

.leftDescription {
  @include fonts(0.875em); //14px
  width: 80%;
  line-height: 130%;
  margin: 15px 0;
}

.sliderImg {
  overflow: hidden;
  img {
    width: 80%;
  }
}

.productImg {
  display: block;
  height: 100%;
  margin: 0 auto;
}
