@import "../vendors/mixin";

.swiperContainer {
  height: 100%;
}

.productContainer {
  z-index: 10;
  $height: 600px;
  width: $height+50px;
  height: $height;
  overflow: hidden;
  img {
    display: block;
    margin: 0 auto;
    height: 100%;
  }
}

.singleProduct {
  width: 650px;
  height: 600px;
}

.swiperPaginationBullet {
  width: 10px;
  height: 10px;
  background: #1A1A1A;
}

.offer {
  display: grid;
  grid-template-rows: 3fr 3fr;
  height: 100%;
}

.imageOffer {
  @include mask;
  img {
    transform: translateY(-100px);
    transition: transform 1.2s ease;

    position: absolute;
    object-fit: cover;
    width: 100%;
  }
}

.infoOffer {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  @include fadeIn;
}

.leftInfo {
  align-self: center;
}

.rightInfo {
  position: relative;
}

.button {
  @include fonts(0.875em, 500);
  @include fadeIn;
  @include transformAnimate(2s);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 45px;
  border-radius: 7px;
  border: none;
  cursor: pointer;

  color: #fff;
  background: #1A1A1A;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.24);
  &:hover {
    background: #2C2C2C;
  }
}

.sliderInfo {
  @include fadeIn;
  @include transformAnimate(1.5s, -50px);

  position: absolute;
  right: 50px;
  bottom: 0;
}

.leftTitle {
  @include fonts(2.250em, 700); //font-size: 36px; font-weight: 700;
  @include fadeIn;
  @include transformAnimate(1s);

  text-transform: uppercase;
}

.leftDescription {
  @include fonts(0.875em); //14px
  @include fadeIn;
  @include transformAnimate(1.5s);

  width: 80%;
  line-height: 130%;
  margin: 15px 0;
}

.productImg {
  height: 100%;
}

.swiperSlideActive {
  %endpoint {
    opacity: 1;
    transform: translateX(0);
  }
  .imageOffer {
    img {
      transform: translateY(0);
    }
  }
  .infoOffer {
    opacity: 1;
  }
  .leftTitle {
    @extend %endpoint;
  }
  .leftDescription {
    @extend %endpoint;
  }
  .button {
    @extend %endpoint;
  }
  .sliderInfo {
    @extend %endpoint
  }
  //z-index: 5;
}

.swiperSlidePrev {
  .imageOffer {
    img {
      transform: translateY(100px);
    }
  }
}